.sd-text {
  font-family: sans-serif;
}

.sd-nav-bar-item {
  cursor: pointer;
  margin: 0 8px;
}

.sd-nav-bar {
  display: flex;
  height: 32px;
  line-height: 32px;
  padding: 4px 16px;
  width: 100%;
}

.sd-nav-bar-blue {
  background-color: #016fb9;
  color: white;
}
